<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urbanfit.apiserver.dao.CoachAuthDao">
    <sql id="limit">
        limit #{pageOffset}, #{pageSize}
    </sql>
    <!-- 添加门店信息 -->
    <insert id="addCoachAuth" parameterType="com.urbanfit.apiserver.entity.CoachAuth"
            useGeneratedKeys="true" keyProperty="authId">
        insert into t_coach_auth (coachName, coachCardNum, userId, createTime) values (#{coachName}, #{coachCardNum},
        #{userId}, now())
    </insert>
    <!-- 查询教练证号码是否认证过 -->
    <select id="queryCoachAuthByCardNum" parameterType="String" resultType="com.urbanfit.apiserver.entity.CoachAuth">
        select * from t_coach_auth where coachCardNum = #{coachCardNum}
    </select>
    <!-- 查询教练证号码是否认证过 -->
    <select id="queryCoachAuthByCardNumAndId" parameterType="map" resultType="com.urbanfit.apiserver.entity.CoachAuth">
        select * from t_coach_auth where coachCardNum = #{coachCardNum} and authId != #{authId}
    </select>
    <!-- 修改门店信息 -->
    <update id="updateCoachAuth" parameterType="com.urbanfit.apiserver.entity.CoachAuth">
        update t_coach_auth set coachName = #{coachName}, coachCardNum = #{coachCardNum}, userId = #{userId}
        where authId = #{authId}
    </update>
    <!-- 删除认证 -->
    <delete id="deleteCoachAuth" parameterType="int">
        delete from t_coach_auth where authId = #{authId}
    </delete>

    <select id="queryCoachAuthById" parameterType="int" resultType="com.urbanfit.apiserver.entity.CoachAuth">
        select * from t_coach_auth where authId = #{authId}
    </select>

    <select id="queryCoachAuthCount" parameterType="map" resultType="int">
        select count(m.authId) from (
            select * from t_coach_auth where 1 = 1
            <if test="authInfo != null">
                and (coachName like CONCAT("%", #{authInfo}, "%") or coachCardNum like CONCAT("%", #{authInfo}, "%"))
            </if>
        ) m
    </select>
    <select id="queryCoachAuthList" parameterType="map" resultType="com.urbanfit.apiserver.entity.CoachAuth">
        select * from t_coach_auth where 1 = 1
        <if test="authInfo != null">
            and (coachName like CONCAT("%", #{authInfo}, "%") or coachCardNum like CONCAT("%", #{authInfo}, "%"))
        </if>
        order by createTime desc
        <include refid="limit"/>
    </select>
    <select id="queryCoachAuth" parameterType="map" resultType="com.urbanfit.apiserver.entity.CoachAuth">
        select * from t_coach_auth where coachName = #{coachName} and coachCardNum = #{coachCardNum} limi t
    </select>
</mapper>